.searchContainer {
    display: flex;
    gap: .3rem;
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70vw;
    margin:4rem auto 0 ;
}
.searchInput {
    width: 100%;    
    background-color: rgba(5, 244, 236, 0.4);
    border: none;
    border-radius: 4px;
    outline: none;
    box-shadow: 1px 1px 5px white;
}
.location{
    background-color: white;
    border-radius: 4px;
}